<div class="wrapper" fxLayout="column" fxLayoutAlign="start stretch">
  <header>Atrium - POC</header>

 
 <!--<div style="height: 120px; padding: 20px;background-color: rgb(250, 244, 239);"> --> 

    <form (ngSubmit)='onAddUpdate(addUpdateForm)' #addUpdateForm="ngForm">
      <div class="form-row">
          <ag-grid-angular 
        style="width: 100%; height: 500px;" 
        class="ag-theme-balham"
        [enableFilter]="true"
        [pagination]="true"
        [enableSorting]="true"
        [rowData]="rowData" 
        [columnDefs]="columnDefs">
      </ag-grid-angular>
      </div>     
      
      <div class="form-row">
        <div class="col">
        <button type="submit" class="btn btn-primary" style="width: 20%;"
          [disabled]="!addUpdateForm.valid">{{actionType}}</button> </div>
          <div class="col">
        <button type="button" class="btn btn-danger" style="width: 20%;" (click)='onResetForm()'>Reset</button>
      </div>
      </div>

      
      <!--  <div class="col">
          <label>Title:</label>
          <input type="text" class="form-control" id="title" name="title" ngModel required>
        </div>
        <div class="col">
          <label>Description:</label>
          <input type="text" class="form-control" name="description" ngModel required>
        </div>
        <div class="col">
          <label>Price:</label>
          <input type="text" class="form-control" name="price" ngModel required>
        </div>   -->
       
      
    </form>
  

  <!-- <div>{{size$ | async}}</div> -->

  <footer>
    <p>©2020 Cognizant, all rights reserved</p>
  </footer>

</div>