<div class="wrapper" fxLayout="column" fxLayoutAlign="start stretch">
  <header>Atrium - POC</header>
  <div style="height: 120px; padding: 20px;background-color: rgb(250, 244, 239);">
    <form (ngSubmit)='onAddUpdate(addUpdateForm)' #addUpdateForm="ngForm">
      <div class="form-row">
        <div class="col">
          <label>Title:</label>
          <input type="text" class="form-control" id="title" name="title" ngModel required>
        </div>
        <div class="col">
          <label>Description:</label>
          <input type="text" class="form-control" name="description" ngModel required>
        </div>
        <div class="col">
          <label>Price:</label>
          <input type="text" class="form-control" name="price" ngModel required>
        </div>
        <div class="col" style="padding-top:32px;">
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-primary" style="width: 100%;"
                [disabled]="!addUpdateForm.valid">{{actionType}}</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-danger" style="width: 100%;" (click)='onResetForm()'>Reset</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div style="padding: 20px;">
    <ag-grid-angular #itemsGrid style="height: 400px;" class="ag-theme-balham" [rowData]="items"
      [gridOptions]="gridOptions" (cellClicked)="onCellClicked($event)" rowSelection="multiple">
    </ag-grid-angular>
  </div>
  <!-- <div>{{size$ | async}}</div> -->

  <footer>
    <p>©2020 Cognizant, all rights reserved</p>
  </footer>

</div>